USE [master]
GO
/****** Object:  Database [BDTP06]    Script Date: 9/9/2026 08:24:59 ******/
CREATE DATABASE [BDTP06]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDTP06', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDTP06.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDTP06_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDTP06_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDTP06].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDTP06]
GO
/****** Object:  User [alumno]    Script Date: 9/9/2026 08:24:59 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[adivinanza]    Script Date: 9/9/2026 08:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adivinanza](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[adivinanza] [varchar](1000) NOT NULL,
	[respuesta] [varchar](50) NOT NULL,
 CONSTRAINT [PK_adivinanza] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalabrasAhorcado]    Script Date: 9/9/2026 08:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalabrasAhorcado](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jefes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalabrasRosco]    Script Date: 9/9/2026 08:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalabrasRosco](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[respuesta] [varchar](50) NOT NULL,
	[letra] [varchar](1) NOT NULL,
	[pista] [varchar](500) NOT NULL,
 CONSTRAINT [PK_PalabrasRosco] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/9/2026 08:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[adivinanza] ON 

INSERT [dbo].[adivinanza] ([ID], [adivinanza], [respuesta]) VALUES (1, N'Vuelo alto sin alas, llevo a cien pasajeros en la panza y canto una melodía antes de que salten. ¿Quién soy?', N'Autobus')
INSERT [dbo].[adivinanza] ([ID], [adivinanza], [respuesta]) VALUES (2, N'No soy un arma de fuego,
pero puedo destruir.
Rompo paredes y árboles
y recursos puedo conseguir.
¿Qué soy?', N'Pico')
INSERT [dbo].[adivinanza] ([ID], [adivinanza], [respuesta]) VALUES (3, N'No soy un enemigo,
pero te puedo eliminar.
Cada vez me hago más grande...
¡Perdón! Cada vez me hago más pequeña
y te tenés que apurar.
¿Qué soy?', N'Tormenta')
SET IDENTITY_INSERT [dbo].[adivinanza] OFF
GO
SET IDENTITY_INSERT [dbo].[PalabrasAhorcado] ON 

INSERT [dbo].[PalabrasAhorcado] ([ID], [nombre]) VALUES (1, N'MIDAS')
INSERT [dbo].[PalabrasAhorcado] ([ID], [nombre]) VALUES (2, N'SKYE')
INSERT [dbo].[PalabrasAhorcado] ([ID], [nombre]) VALUES (3, N'BRUTUS')
SET IDENTITY_INSERT [dbo].[PalabrasAhorcado] OFF
GO
SET IDENTITY_INSERT [dbo].[PalabrasRosco] ON 

INSERT [dbo].[PalabrasRosco] ([ID], [respuesta], [letra], [pista]) VALUES (1, N'AGENCIA', N'A', N'Empieza con A: lugar que funcionaba como la base principal de Midas y sus agentes.')
INSERT [dbo].[PalabrasRosco] ([ID], [respuesta], [letra], [pista]) VALUES (2, N'BRUTUS', N'B', N'Empieza con B: agente grande y musculoso cuya base estaba en una zona subterránea.')
INSERT [dbo].[PalabrasRosco] ([ID], [respuesta], [letra], [pista]) VALUES (3, N'C4', N'C', N'Empieza con C: explosivo plástico que pegás en cualquier pared o techo y que hacés explotar desde lejos cuando vos querés.')
SET IDENTITY_INSERT [dbo].[PalabrasRosco] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [NombreUsuario]) VALUES (3, N'ponia')
INSERT [dbo].[Usuarios] ([ID], [NombreUsuario]) VALUES (4, N'ponia')
INSERT [dbo].[Usuarios] ([ID], [NombreUsuario]) VALUES (5, N'ponia')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
